#def PackageSection()
#if $varExists('package')
#for $p in $package
#if $p.match('@.*[Rr]ealm.*[Ss]erver$')
@ realmlinux-base
@ editors
@ base
@ text-internet
@ legacy-software-support
@ system-tools
@ admin-tools
@ base-x
@ java
- logwatch
- yum-updatesd
#else if $p.match('@.*[Rr]ealm.*[Ww]orkstation$')
@ realmlinux-base
@ realmlinux-devel
@ authoring-and-publishing
@ eclipse
@ editors
@ engineering-and-scientific
@ games
@ graphical-internet
@ graphics
@ office
@ sound-and-video
@ text-internet
@ gnome-desktop
@ kde-desktop
@ development-libs
@ development-tools
@ gnome-software-development
@ java-development
@ kde-software-development
@ legacy-software-development
@ ruby
@ x-software-development
@ admin-tools
@ java
@ legacy-software-support
@ system-tools
@ workstation
@ base-x
-logwatch
-yum-updatesd
#else
$p
#end if
#end for
#else
@ realmlinux-base
@ realmlinux-devel
@ authoring-and-publishing
@ eclipse
@ editors
@ engineering-and-scientific
@ games
@ graphical-internet
@ graphics
@ office
@ sound-and-video
@ text-internet
@ gnome-desktop
@ kde-desktop
@ development-libs
@ development-tools
@ gnome-software-development
@ java-development
@ kde-software-development
@ legacy-software-development
@ ruby
@ x-software-development
@ admin-tools
@ java
@ legacy-software-support
@ system-tools
@ workstation
@ base-x
-logwatch
-yum-updatesd
#end if
#end def
##
#include $webKickstart.templates + "/rl5.tmpl"
