AddHandler python-program .py
PythonHandler webKickstart.ks
PythonDebug On 
PythonInterpPerDirectory On

<Files solaris2ks.conf>
    deny from all
</Files>

<Files configs >
    deny from all
</Files>

