textarea {
    overflow: scroll;
    border: 2px solid #aaaaaa;
    background: #dddddd;
    padding: 5px;
    font-family: monospace;
}
div.code {
    background-color: #cccccc;
    padding: 0.5em;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    overflow: visible;
}
h1 {
   /*clear: both;*/
}
h2 {
   clear: both;
}
h2.space {
   clear: both;
   padding-top: 20px;
}  
A {
   text-decoration: none;
   color: #000088;
}
a:hover {
   text-decoration: underline;
}
a img {
   border: 0;
}
div.content {
   font-family: Arial,Helvetica,Sans-Serif;
   padding: 1em;
}
table {
   margin-left: auto;
   margin-right: auto;   
   border-style: solid;
   border-color: gray;
   border-width: 1px;
}
table.noborder {
    border-width: 0px;
}
td {
   padding: 4px;
   border-style: none;
}
th {
   padding: 4px;
   border-style: none;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: gray;
}
th.right {
   text-align: right;
   border-bottom-style: none;
   border-right-width: 1px;
   border-right-color: gray;
   border-right-style: solid;
}
tr.good {
   background-color: #99ff99;
}
tr.good:hover {
   background-color: #66ff66;
}
tr.neutral {
   background-color: #ececec;
}
tr.neutral:hover {
   background-color: #cccccc;
}
tr.bad {
   background-color: #ff0000;
   color: #ffffff;
}
tr.bad:hover {
   background-color: #aa0000;
   color: #ffffff;
}
tr.good A {
   text-decoration: none;
   color: #000088;
}
tr.neutral A {
   text-decoration: none;
   color: #000088;
}
tr.bad A {
   text-decoration: none;
   color: white;
}
tr A:hover {
   text-decoration: underline;
}


ul.makemenu {
    font-family: Arial,Helvetica,Sans-Serif;
    float: right;
    width: 12em;
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    margin-left: 1em;
}
ul.makemenu li {
    list-style-type: none;
    background-color: #0000bb;
    margin: 1px;
    padding: 0.3em;
    position: relative;
    color: #ffffff;
}
ul.makemenu li:hover {
    background-color: #000088;
}
ul.makemenu li.title {
    text-align: center;
    font-style: italic;
}
ul.makemenu li.title:hover {
    background-color: #0000bb;
}
ul.makemenu a {
    color: #ffffff;
    text-decoration: none;
}
ul.makemenu a:hover {
    text-decoration: underline;
}

