
/* An alternative OIT Navigation bar
 * Jack Neely 
 * 07/07/2008
 */

body {
    padding: 0em;
    margin: 0em;
}

div.oitnavbar {
    font-family: Arial,Helvetica,Sans-Serif;
    background-color: #000000;
    color: #FFFFFF;
    padding: 0em;
    margin: 0em;
    height: 24px;
}
div.oitnavbar a {
    color: #FFFFFF;
    text-decoration: none;
}
div.oitnavbar a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
div.oitcontainer {
    padding-top: 2px;
}
div.oitnavbar ul {
    display: inline;
    padding: 0px;
    list-style-type: none;
    white-space: nowrap;
}
div.oitnavbar li {
    display: inline;
    font-size: 90%;
}
div.oit_logo {
    margin: 0em;
    padding: 0em;
    padding-top: 0px;
    padding-left: 1em;
    width: 40px;
    height: 32px; 
    float: left;
}
div.oit_logo img {
    border: none;
}
div.ncsu_brick {
    margin: 0em;
    padding: 0em;
    padding-top: 1px;
    height: 22px;
    width: 142px;
    float: right;
}
div.ncsu_brick img {
    border: none;
}    

